@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
body
{
	background-color: #eee;
}
.header
{
	color: white;
	text-align: center;
	background-color: #FF5722;
	margin: -8px;
	padding-top: 1px;
	padding-bottom: 0.5px;
}
.logo
{
	font-family: Rammetto One;
	font-size: 40px;
}
.search_form
{
	text-align: center;
}
.search
{
	font-family: Noto Sans;
	border-style: groove;
	border-radius: 5px;
	margin-top: 30px;
	transition: 0.5s;
	height: 30px;
}
.search:focus
{
	width: 300px;
}
.menu
{
	float: left;
}
.list_menu
{
	list-style-type: none;
	background-color: #FF5722;
	border-radius: 5px;
	font-family: Noto Sans;
	width: 300px;
}
li
{
	margin: 10px;
	font-size: 25px;
}
li:hover
{
	font-size: 27px;
}
a
{
	text-decoration: none;
	color: white;
	margin-left: 5px;
	margin-right: 20px;
}